# Environment variables
.env
.env.local
frontend/.env
frontend/.env.local
server/.env
server/.env.local

# Node dependencies
node_modules
frontend/node_modules
server/node_modules

# Build output
dist
frontend/dist
